<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.skweez.wifisync" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher_wifisync">

		<receiver android:name=".SyncOnWifiStateReceiver">
			<intent-filter>
				<!-- Used when the device (dis-)connects to WiFi. -->
				<action android:name="android.net.wifi.STATE_CHANGE" />

				<!-- Used when user disables WiFi. The above broadcast is not sent in 
					that case. -->
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>

	</application>

	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
</manifest>